{
  "enabled": "false",
  "shape": "Circle",
  "position": "TopRight",
  "showDayNight": "true",
  "sizePercent": "30",
  "frameAlpha": "100",
  "terrainAlpha": "100",
  "orientation": "North",
  "compassFontScale": "1",
  "showCompass": "true",
  "showReticle": "true",
  "playerDisplay": "SmallDots",
  "showPlayerHeading": "true",
  "mobDisplay": "SmallDots",
  "showMobHeading": "true",
  "showMobs": "true",
  "showAnimals": "true",
  "showVillagers": "true",
  "showPets": "true",
  "showPlayers": "true",
  "fontScale": "1",
  "showWaypointLabels": "true",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "true",
  "showCaves": "true",
  "showEntityNames": "true",
  "zoomLevel": "0"
}
